<?xml version="1.0"?>
<robot name="hg_description" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find hg_description)/urdf/hg_arc_macro.xacro" />
  <xacro:include filename="$(find hg_description)/urdf/hand_arc_macro.xacro" />
  <xacro:hg_description/>
  <xacro:hand ns="hg" rpy="0 0 0" xyz="0 0 0" connected_to="hg_Link6"/>
</robot>
